:root {
   --main-font: 'Josefin Sans', sans-serif;
   --heads-font: 'DM Serif Display', serif;
}
*,
*:before,
*:after {
   box-sizing: border-box;
}
h1, h2, h3 {
   margin: 0;
   padding: 0;
}
.wrapper {
   background: linear-gradient(to top, #fdffab 0%, #347BE5 100%);
   font-family: var(--main-font);
   max-height: 100%;
}
.hero {
   padding: 45px;
   
}
.container {
   background: #FFFFFF;
   max-width: 100%;
   border-radius: 20px;
}
.row {
   padding-bottom: 50px;
}
.hero__header {
   padding: 20px 10px 35px;
}
.navbar-brand {
   font-weight: 700;
}
.nav-link:hover {
   color: #347BE5;
   font-weight: 700;
}
.hero__img {
   padding: 5px;
   border-radius: 50%;
   border: 1px solid lightgrey;
   width: 485px;
   max-width: 100%;
}
h2,
h1 {
   font-family: var(--heads-font);
}
h2 {
   color: black;
   opacity: 0.6;
   font-size: 46px;
   text-align: center;
}
h1 {
   color: black;
   font-size: 96px;
   text-align: center;
   margin-bottom: 40px;
}
p {
   font-size: 20px;
   padding-right: 20px;
   margin-bottom: 50px;
}
.btn {
   display: block;
   margin: 0 auto;
   padding: 15px 20px;
   max-width: 100px;
   background-color: transparent;
   color: black;
   border: 1px solid black;
   font-weight: 600;
}
.btn:hover {
   background-color: #347BE5;
   color: white;
}
.section__header {
   text-align: center;
   margin-top: 15px;
   padding: 20px 0;
   color: black;
   opacity: 0.8;
   font-size: 46px;
}
.section__image {
   opacity: 0.5;
   margin: 10px;
}
.section__image a {
   text-decoration: none;
   color: transparent;
}
.section__image:hover {
   opacity: 0.8;
}
.section__image img {
   border: 2px solid #347BE5;
   border-radius: 10px;
   padding: 10px;
}
.section___img {
   max-width: 90%;
}
.hero__footer {
   background: #fdffab;
   padding: 20px 0;
   margin-top: 20px;
   text-align: center;
   font-size: 15px;
}
@media(max-width:992px) {
   h2 {
      font-size: 30px;
      text-align: center;
   }
   h1 {
      font-size: 50px;
      text-align: center;
   }
   p {
      font-size: 18px;
      padding-right: 20px;
      margin-bottom: 40px;
   }
   .section__image {
      margin: 17px;
   }
}
@media(max-width:768px) {
   .hero {
      padding: 25px;
      
   }
   h2 {
      font-size: 20px;
      padding-top: 20px;
   }
   h1 {
      font-size: 35px;
   }
   p {
      text-align: center;
      font-size: 12px;
   }
   .btn {
      padding: 10px 15px;
      max-width: 100px;  
   }
   .col-md-4 {
      margin-bottom: 0;
   }
   .section__header {
      font-size: 24px;
   }
   .section__image{
      margin: 10px;
   }
}
@media(max-width:576px) {
   .row {
      padding-bottom: 15px;
   }
   hero__img {
      width: 200px;
      max-width: 100%;
   }
   .section___img {
      max-width: 70%;
   }
   .hero__footer {
      font-size: 15px;
   }
   }
   @media(max-width:344px) {
      h2 {
         font-size: 15px;
         padding-top: 10px;
      }
      h1 {
         font-size: 25px;
      }
      p {
         text-align: center;
         font-size: 10px;
      }
      .section__header {
         font-size: 18px;
      }
      .hero__img {
         display: none;
      }
      .hero__footer {
         font-size: 10px;
      }
      .section___img {
         max-width: 50%;
      }
   }

   /*About me========================*/
   
   .wrapper__about {
      background-color: #347BE5;
      font-family: var(--main-font);
      height: 100%;
   }
   .about {
      padding: 45px;  
   }
   .container {
      background: #FFFFFF;
      border-radius: 20px;
   }
   .about__img img {
      display: block;
      margin: 0 auto;
   }
   .about__title {
      color: black;
      font-family: var(--heads-font);
      font-size: 40px;
      text-align: center;
   }
   .about__suptitle {
      color: black;
      font-family: var(--heads-font);
      opacity: 0.6;
      font-size: 24px;
      text-align: center;
   }
   .info__header {
      color: #347BE5;
      font-weight: 700;
   }
 .about__row {
   margin-bottom: 14px;
   padding-bottom: 0;
 }
 .about__col {
   margin-bottom: 10px;
   padding-bottom: 0;
 }
 @media(max-width: 1200px) {
   .about__title {
      font-size: 30px;
      margin-bottom: 15px;
   }
   .about__suptitle {
      font-size: 20px;
      margin-bottom: 20px;
   }
   
}
@media(max-width: 998px) {
  .about__title {
   margin-top: 40px;
  }
  .about__info {
   margin-left: 50px;
  }
}
@media(max-width: 710px) {
   .about__info {
      margin-left: 10px;
     }
}
@media(max-width: 576px) {
   .about {
      padding: 25px;
   }
   .navbar-brand {
      font-size: 15px;
   }
   .about__title {
      font-size: 25px;
      margin: 20px 0 0;
   }
   .about__suptitle {
      font-size: 16px;
      margin-bottom: 20px;
   }
   .about__info {
   font-size: 14px;
   margin-left: 0;
   }
   .info__header {
      text-align: center;
   }
   .info__text {
      text-align: center;
      margin: 0;
   }
   .info__text li {
      list-style: none;

   }

}

/*Portfolio=================*/
.wrapper__portfolio {
   background-color: #347BE5;
   font-family: var(--main-font);
   height: 100%;
}
.portfolio {
   padding: 45px;  
}
.container {
   background: #FFFFFF;
   border-radius: 20px;
}
.works__title {
   color: black;
   font-family: var(--heads-font);
   font-size: 40px;
   text-align: center;
}