:root {
   --main-font: 'Josefin Sans', sans-serif;
   --heads-font: 'DM Serif Display', serif;
}
*,
*:before,
*:after {
   box-sizing: border-box;
}
h1, h2, h3 {
   margin: 0;
   padding: 0;
}
.wrapper {
   background: linear-gradient(to top, #fdffab 0%, #347BE5 50%);
   font-family: var(--main-font);
   max-height: 100%;
}
.hero {
   padding: 45px;
   
}
.container {
   background: #FFFFFF;
   max-width: 100%;
   border-radius: 20px;
}
.row {
   padding-bottom: 50px;
}
.hero__header {
   padding: 20px 10px 35px;
}
.navbar-brand {
   font-weight: 700;
}
.nav-link:hover {
   color: #347BE5;
   font-weight: 700;
}
.hero__img {
   padding: 5px;
   border-radius: 50%;
   border: 1px solid lightgrey;
   width: 485px;
   max-width: 100%;
}
h2,
h1 {
   font-family: var(--heads-font);
}
h2 {
   color: black;
   opacity: 0.6;
   font-size: 46px;
   text-align: center;
}
h1 {
   color: black;
   font-size: 96px;
   text-align: center;
   margin-bottom: 40px;
}
p {
   font-size: 20px;
   padding-right: 20px;
   margin-bottom: 50px;
}
.btn {
   display: block;
   margin: 0 auto;
   padding: 15px 20px;
   max-width: 100px;
   background-color: transparent;
   color: black;
   border: 1px solid black;
   font-weight: 600;
}
.btn:hover {
   background-color: #347BE5;
   color: white;
}
.section__header {
   text-align: center;
   margin-top: 15px;
   padding: 20px 0;
   color: black;
   opacity: 0.8;
   font-size: 46px;
}
.section__image {
   opacity: 0.5;
   margin: 10px;
}
.section__image a {
   text-decoration: none;
   color: transparent;
}
.section__image:hover {
   opacity: 0.8;
}
.section__image img {
   border: 2px solid #347BE5;
   border-radius: 10px;
   padding: 10px;
}
.section___img {
   max-width: 90%;
}
.hero__footer {
   background: #fdffab;
   padding: 20px 0;
   margin-top: 20px;
   text-align: center;
   font-size: 15px;
}
@media(max-width:992px) {
   h2 {
      font-size: 30px;
      text-align: center;
   }
   h1 {
      font-size: 50px;
      text-align: center;
   }
   p {
      font-size: 18px;
      padding-right: 20px;
      margin-bottom: 40px;
   }
   .section__image {
      margin: 17px;
   }
}
@media(max-width:768px) {
   .hero {
      padding: 25px;
      
   }
   h2 {
      font-size: 20px;
      padding-top: 20px;
   }
   h1 {
      font-size: 35px;
   }
   p {
      text-align: center;
      font-size: 12px;
   }
   .btn {
      padding: 10px 15px;
      max-width: 100px;  
   }
   .col-md-4 {
      margin-bottom: 0;
   }
   .section__header {
      font-size: 24px;
   }
   .section__image{
      margin: 10px;
   }
}
@media(max-width:576px) {
   .row {
      padding-bottom: 15px;
   }
   hero__img {
      width: 200px;
      max-width: 100%;
   }
   .section___img {
      max-width: 70%;
   }
   .hero__footer {
      font-size: 15px;
   }
   }
   @media(max-width:344px) {
      h2 {
         font-size: 15px;
         padding-top: 10px;
      }
      h1 {
         font-size: 25px;
      }
      p {
         text-align: center;
         font-size: 10px;
      }
      .section__header {
         font-size: 18px;
      }
      .hero__img {
         display: none;
      }
      .hero__footer {
         font-size: 10px;
      }
      .section___img {
         max-width: 50%;
      }
   }

   /*About me========================*/
   
   .wrapper__about {
      background-color: #347BE5;
      font-family: var(--main-font);
      height: 100%;
   }
   .about {
      padding: 45px;  
   }
   .container {
      background: #FFFFFF;
      border-radius: 20px;
   }
   .about__img img {
      display: block;
      margin: 0 auto;
   }
   .about__title {
      color: black;
      font-family: var(--heads-font);
      font-size: 40px;
      text-align: center;
   }
   .about__suptitle {
      color: black;
      font-family: var(--heads-font);
      opacity: 0.6;
      font-size: 24px;
      text-align: center;
   }
   .info__header {
      color: #347BE5;
      font-weight: 700;
   }
   .about__row {
     padding: 0px;
   }
 .about__col {
   margin-bottom: 10px;
   padding-bottom: 0;
 }
 @media(max-width: 1200px) {
   .about__title {
      font-size: 30px;
      margin-bottom: 15px;
   }
   .about__suptitle {
      font-size: 20px;
      margin-bottom: 20px;
   }
   
}
@media(max-width: 998px) {
  .about__title {
   margin-top: 40px;
  }
  .about__info {
   margin-left: 50px;
  }
}
@media(max-width: 710px) {
   .about__info {
      margin-left: 10px;
     }
}
@media(max-width: 576px) {
   .about {
      padding: 25px;
   }
   .navbar-brand {
      font-size: 15px;
   }
   .about__title {
      font-size: 25px;
      margin: 20px 0 0;
   }
   .about__suptitle {
      font-size: 16px;
      margin-bottom: 20px;
   }
   .about__info {
   font-size: 14px;
   margin-left: 0;
   }
   .info__header {
      text-align: center;
   }
   .info__text {
      text-align: center;
      margin: 0;
   }
   .info__text li {
      list-style: none;

   }

}

/*Portfolio=================*/
.wrapper__portfolio {
   background-color: #347BE5;
   font-family: var(--main-font);
   height: 100%;
}
.portfolio {
   padding: 45px;  
}
.container {
   background: #FFFFFF;
   border-radius: 20px;
}
.works__title {
   color: black;
   font-family: var(--heads-font);
   font-size: 40px;
   text-align: center;
}
.works__container {
   max-width: 1000px;
   margin: 0 auto;
}
.works__item {
   padding-bottom: 20px;
}
.works__items {
   display: flex;
   margin-top: 50px;
   margin-bottom: 30px;
}
.works__img {
  width: 50%;
  margin-right: 20px;
}
.works__img img {
   max-width: 100%;
   border-radius: 10px;
}
.works__info {
   margin-left: 20px;
   width: 50%;
   display: flex;
   flex-direction: column;
}
.info__title {
   font-size: 40px;
   font-family: var(--heads-font);
   line-height: 1.5;
}
.info__text {
   font-size: 20px;
   line-height: 1.5;
}
.works__btn {
   margin-top: 30px;
   padding: 15px 20px;
   max-width: 150px;
   text-align: center;
   background-color: transparent;
   color: black;
   border: 1px solid black;
   border-radius: 10px;
   font-weight: 600;
   text-decoration: none;
   transition: all 0.3s ease 0s;
}
.works__btn:hover {
   background-color: #347BE5;
   color: white;
}
@media(max-width:900px) {
   .info__title {
      font-size: 30px;
      line-height: 2;
   }
   .info__text {
      font-size: 18px;
      line-height: 1.5;
   }
}
@media(max-width:700px) {
   .works__title {
      font-size: 30px;
      margin-bottom: 20px;
   }
   .works__items {
      margin-top: 30px;
   }
   .info__title {
      font-size: 24px;
      line-height: 1.5;
   }
   .info__text {
      font-size: 15px;
      line-height: 1.5;
   }
   .works__btn {
      margin-top: 20px;
      padding: 10px 15px;
      font-size: 15px;
   }
}
@media(max-width:614px) {
   .works__items {
      margin-top: 10px;
   }
   .works__img {
      display: none;
   }
   .info__title {
      line-height: 2.5;
   }
   .works__info {
      margin-top: 30px;
      width: 100%;
      text-align: center;
      line-height: 2;
   }
   .works__btn {
      margin: 35px auto 0;
   }
}
@media(max-width: 576px) {
   .portfolio {
      padding: 25px;
   }
}
@media(max-width:385px) {
   .hero__header {
      padding-bottom: 10px;
   }
   .works__items {
      margin-top: 10px;
   }
   .works__title {
      font-size: 23px;
   }
   .info__title {
      font-size: 18px;
   }
   .info__text {
      font-size: 13px;
   }
   .works__btn {
      padding: 8px 12px;
      font-size: 10px;
   }
}

/*Contacts*/
.wrap {
   max-width: 900px;
   margin: 0 auto;
}
.cont {
   margin: 40px;
   border: solid 1em #347BE5;
   border-radius: 2em;
}
.in__touch {
   flex: 1 0 auto;
}
.contact__title {
   font-size: 50px;
   font-family: var(--heads-font);
   text-align: center;
}
.in__touch {
   padding-top: 50px;
}
.contact {
   margin-top: 70px;
   text-align: center;
}
.contact__name {
   font-family: var(--heads-font);
   color: black;
   opacity: 0.7;
   font-size: 25px;
}
.contact__description {
   margin-bottom: 30px;
}
.contact__description i {
   margin-right: 7px;
}
.footer__cont {
  text-align: center;
  margin: 80px 0 30px;
}
.footer__cont i {
   margin: 0 15px;
   font-size: 15px;
   transition: all 0.3s ease 0s;
}
.footer__cont i:hover {
   font-size: 20px;
}
@media(max-width: 768px) {
   .contact {
      margin-top: 0px;
      margin-bottom: 150px;
      text-align: center;
   }
   .contact__title {
      font-size: 45px;
   }
}
@media(max-width: 635px) {
   .contact__title {
      font-size: 35px;
   }
   .contact__name {
      font-size: 20px;
   }
   .contact__description {
      font-size: 15px;
   }
   .footer__cont {
      padding-bottom: 50px;
      font-size: 13px;
    }
}
@media(max-width: 576px) {
   .contact {
      padding: 25px;
   }
   .portfolio {
      padding: 25px;
   }
}
@media(max-width: 420px) {
   .contact__title {
      font-size: 30px;
   }
   .contact__name {
      font-size: 18px;
   }
   .contact__description {
      font-size: 13px;
   }
   .footer__cont {
      padding-bottom: 20px;
      font-size: 12px;
    }
    .contact {
       margin-bottom: 15px;
   }
    
}
